In [3]:
# add dependencies
import pandas as pd
import gmaps
import requests
import os

# import api key
from config import gkey

In [4]:
# store city data csv into a DataFrame
data_to_load = os.path.join("weather_data", "cities.csv")
city_data_df = pd.read_csv(data_to_load)
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-07-22 20:58:08,-54.8000,-68.3000,44.26,76,40,10.36
1,1,Sinnamary,GF,2021-07-22 21:02:58,5.3833,-52.9500,82.15,78,13,11.39
2,2,Saint-Philippe,RE,2021-07-22 21:02:59,-21.3585,55.7679,67.55,75,43,12.08
3,3,Hobart,AU,2021-07-22 21:02:59,-42.8794,147.3294,51.26,69,75,1.99
4,4,Georgetown,MY,2021-07-22 21:03:00,5.4112,100.3354,84.13,77,20,8.05

In [5]:
# get the data types
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# configure gmaps
gmaps.configure(api_key=gkey)

In [22]:
# create heatmap of max temperatures
# get latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

# get max temperatures
max_temps = city_data_df["Max Temp"]

# assign figure variable
fig = gmaps.figure(center=(25.0,5.0), zoom_level=1.4)

# assign heatmap layer variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temps, dissipating=False, max_intensity=300, point_radius=4)

# add heatmap layer
fig.add_layer(heatmap_layer)

# plot figure
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# create a heatmap of % humidity
# get latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

# get max temperatures
humidity = city_data_df["Humidity"]

# assign figure variable
fig = gmaps.figure(center=(25.0,5.0), zoom_level=1.4)

# assign heatmap layer variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# add heatmap layer
fig.add_layer(heatmap_layer)

# plot figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# create heatmap of % cloudiness
# get latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

# get max temperatures
cloudiness = city_data_df["Cloudiness"]

# assign figure variable
fig = gmaps.figure(center=(25.0,5.0), zoom_level=1.4)

# assign heatmap layer variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

# add heatmap layer
fig.add_layer(heatmap_layer)

# plot figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# create heatmap for wind speed
# get latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

# get max temperatures
wind_speed = city_data_df["Wind Speed"]

# assign figure variable
fig = gmaps.figure(center=(25.0,5.0), zoom_level=1.4)

# assign heatmap layer variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

# add heatmap layer
fig.add_layer(heatmap_layer)

# plot figure
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# ask the user to input a min and a max temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# filter the dataset to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Sinnamary,GF,2021-07-22 21:02:58,5.3833,-52.9500,82.15,78,13,11.39
4,4,Georgetown,MY,2021-07-22 21:03:00,5.4112,100.3354,84.13,77,20,8.05
12,12,College,US,2021-07-22 21:03:03,64.8569,-147.8028,77.47,50,79,3.00
13,13,Albany,US,2021-07-22 20:58:11,42.6001,-73.9662,79.57,53,99,1.99
14,14,Hithadhoo,MV,2021-07-22 21:03:04,-0.6000,73.0833,79.23,83,100,11.45
18,18,Kapaa,US,2021-07-22 21:03:05,22.0752,-159.3190,82.38,79,97,7.00
27,27,Butaritari,KI,2021-07-22 21:03:08,3.0707,172.7902,83.66,75,29,16.46
28,28,Tautira,PF,2021-07-22 21:03:08,-17.7333,-149.1500,82.42,72,39,12.35
35,35,Beloeil,CA,2021-07-22 21:02:51,45.5668,-73.1992,79.41,48,31,3.00
36,36,Atuona,PF,2021-07-22 21:03:10,-9.8000,-139.0333,77.45,70,93,9.91

In [31]:
# check for null values
preferred_cities_df.count()

City ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [32]:
# create DataFrame to hold hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Sinnamary      GF     82.15   5.3833  -52.9500
4   Georgetown      MY     84.13   5.4112  100.3354
12     College      US     77.47  64.8569 -147.8028
13      Albany      US     79.57  42.6001  -73.9662
14   Hithadhoo      MV     79.23  -0.6000   73.0833
18       Kapaa      US     82.38  22.0752 -159.3190
27  Butaritari      KI     83.66   3.0707  172.7902
28     Tautira      PF     82.42 -17.7333 -149.1500
35     Beloeil      CA     79.41  45.5668  -73.1992
36      Atuona      PF     77.45  -9.8000 -139.0333

In [33]:
# set parameters to search for hotels
params = {"type" : "lodging",
          "radius" : 5000,
          "key" : gkey}

# base url for searching for nearby hotels
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# iterate through the hotel DataFrame
for index, row in hotel_df.iterrows():
    # get latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add latitude and longitude to params dictionary
    params["location"] = f"{lat},{lng}"
    
    # make request
    hotels = requests.get(base_url, params=params).json()
    
    # add first hotel name to hotel DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
        
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Sinnamary,GF,82.15,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
4,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
12,College,US,77.47,64.8569,-147.8028,Pike's Waterfront Lodge
13,Albany,US,79.57,42.6001,-73.9662,
14,Hithadhoo,MV,79.23,-0.6000,73.0833,Scoop Guest House
18,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Butaritari,KI,83.66,3.0707,172.7902,Isles Sunset Lodge
28,Tautira,PF,82.42,-17.7333,-149.1500,Pension Oaoa
35,Beloeil,CA,79.41,45.5668,-73.1992,Manoir Rouville Campbell
36,Atuona,PF,77.45,-9.8000,-139.0333,Villa Enata

In [36]:
# create heatmap of max temperatures for the vacation spots
# get latitude and longitude pairs
locations = hotel_df[["Lat", "Lng"]]

# get max temperatures
max_temps = hotel_df["Max Temp"]

# assign figure variable
fig = gmaps.figure(center=(25.0,5.0), zoom_level=1.4)

# assign heatmap layer variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temps, dissipating=False, max_intensity=300, point_radius=4)

# create info box for markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dt>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# assign marker layer variable
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add layers
fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)

# plot figure
fig

Figure(layout=FigureLayout(height='420px'))